.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  }
  
  .searchIcon {
    color: #000; 
    font-size: 20px; 
  }
  
  .searchInput {
    margin: 0;
    border: 0;
  }
  